.embla {
  max-width: 1920px;
  margin: 0 auto;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  margin-left: 10px;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.embla__dot {
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  background-color: #002b414a;
  touch-action: manipulation;
  display: inline-flex;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot--selected:after {
  background-color: #002b41;
}

@media (max-width: 768px) {
  .embla {
    --slide-size: 85%;
  }

  .embla__viewport {
    padding: 0 1.5rem;
  }
}
