@import "tailwindcss";

:root {
  --background: #eef5ff;
  --foreground: #171717;
  isolation: isolate;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #002b41;
  --color-secondary: #ff372a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --max-width-desktop: 1336px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eef5ff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
